{% set cobbler = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['dnsmasq',
                 'syslinux',
                 'fence-agents',
                 'xinetd',
                 'genisoimage',
                 'yum-utils',
                 'qemu',
                 'virtinst',
                 'tftpd',
                 'tftp',
                 'python-augeas',
                 'libpython2.7']
    }
}, merge=salt['pillar.get']('cobbler:lookup')) %}
